.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.mywork-title {
    position: relative;
}

.mywork-title h2 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.mywork-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.mywork-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.mywork-container img {
    box-sizing: border-box;
    width: 419px;
    /* height: 280px; */
    transition: 0.3s;
    cursor: pointer;
}

.mywork-container img:hover {
    transform: scale(1.10);
    border: 2px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}

.mywork-showmore {
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tag {
    /* background-color: #FFFFFF; */
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
}

.project-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.project-info h3 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8009 50%, #B415FF 100%);
    background-clip: text;
    /*gradient just in text*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-info p {
    color: #d4d4d4;
    font-size: 22px;
    line-height: 30px;
    max-width: 300px;
}

.tag:hover {
    background-color: #DA7C25;
    color: #FFFFFF;
}

.mywork-showmore:hover {
    gap: 30px;
    transition: 0.6s;
}

@media(max-width:768px) {
    .mywork {
        gap: 50px;
        margin: 80px 50px;
        align-items: start;
    }

    .mywork-title h2 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .mywork-title img {
        width: 130px;
        margin-right: -30px;
    }

    .mywork-container {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .mywork-container img {
        width: 100%;
    }

    /*     .mywork-showmore {
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    } */
}